<div *ngIf="weblioList() == null">
  Loading...
</div>
<div *ngIf="weblioList() !== null">
  <p><strong>Pages:</strong> {{ weblioList()!.pages }}</p>
  <p><strong>Total results:</strong> {{ weblioList()!.totalResults }}</p>

  <dl class="text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    <div *ngFor="let entry of entries()">
      <div class="flex flex-col py-1">
        <dt class="text-lg font-medium">{{ entry[0] }}</dt>
        <dd class="text-gray-500 md:text-lg dark:text-gray-400">{{ entry[1] }}</dd>
      </div>
    </div>
  </dl>
</div>
